<main>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="pt-3">Hello Bloggers,Welcome to Blogify!!!</h2>
                <p class="pt-3">Already a Blogifier:</p>
                <a href="/Account/Login" class="btn btn-primary">Login</a>
                <p class="pt-3">What are you waiting for,Join Us:</p>
                <a href="/Account/Register" class="btn btn-success">Register</a>
            </div>
        </div>
    </div>
</main>